{% extends "base.html" %}
{% load static %}

{% block title %}Event: {{ object.name }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.name }}</h2>
      <a href="{% url 'chats:team_chat_detail' object.team_left.pk %}"><h3 class="room">Join to {{ object.team_left }} team chat</h3></a>
      <a href="{% url 'chats:team_chat_detail' object.team_right.pk %}"><h3 class="room">Join to {{ object.team_right }} team chat</h3></a>
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}